# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Pycharm
idea/

# Migrations
migrations/

# Because i have requirements_without_dep.txt (without dependency)
requirements.txt
